@if (data$ | async; as data) {
  @if (data.isLoading) {
    <mc-loading></mc-loading>
  }
  @if (data.error) {
    <mc-error-message
      [message]="data.error"
    ></mc-error-message>
  }
  @if (data.popularTags) {
    <div class="sidebar">
      <p>Popular Tags</p>
      <div class="tag-list">
        @for (popularTag of data.popularTags; track popularTag) {
          <a
            [routerLink]="['/tags', popularTag]"
            class="tag-default tag-pill"
            >
            {{ popularTag }}
          </a>
        }
      </div>
    </div>
  }
}
